/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


th{
  	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 19px;
	text-align: center;
	letter-spacing: 0.05em;

	color: #FFFFFF;
}
